body{
    background-color: rgb(183, 187, 167);
}

h1{
    text-align: center;
    text-decoration: underline;
}

.form-container{
    display: flex;
    min-width: 100vh;
    background-color: rgba(137, 43, 226, 0.301);
    justify-content: center;

}

.formulario{
    background-color: bisque;
    width: 60%;
    border: 2px black solid;
    border-radius: 10px;
}

.form-tittle{
    text-align: center;
    text-decoration: underline;
}